# =====================
# ENV / SECRETS
# =====================
.env
.env.*
*.env

# =====================
# PYTHON CACHE
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# VIRTUAL ENV
# =====================
venv/
.venv/
env/
ENV/

# =====================
# IDE / EDITORS
# =====================
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# =====================
# OS FILES
# =====================
.DS_Store
Thumbs.db

# =====================
# LOGS
# =====================
*.log
